@media only screen and (min-width: 600px) {
  .wrapper {
    height: 100vh;
    display: grid;
    grid-template-columns: 20vw 60vw 20vw;
    grid-template-rows: 30vh 50vh 20vh;
    grid-template-areas:
      ". topic . "
      "l_left form l_right "
      "l_left send l_right ";

    margin-top: 15vh;
  }

  .topic {
    grid-area: topic;
    text-align: center;
    align-self: center;
    color: #042b10;
    position: relative;
    margin-top: 3rem;

    .left-tree-1 {
      position: absolute;
      top: 0;
      left: 5vw;
      height: 30px;
    }
    .left-tree-2 {
      position: absolute;
      top: 0;
      right: 5vw;
      height: 30px;
    }
    .main-topic {
      line-height: 3rem;
      font-weight: bolder;
      font-size: xx-large;
    }
    .sub-topic {
      line-height: 3rem;
      font-weight: lighter;
      font-size: large;
    }
  }
  .input-form {
    text-align: center;
    grid-area: form;
    position: relative;
  }
  .send-btn-container {
    // text-align: center;
    grid-area: send;
    .send {
      width: 20vh;
      line-height: 2rem;
      color: white;
      background: rgb(4, 42, 27);
      left: 45%;
      outline: none;
      position: absolute;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
    }
    .send:hover {
      background: #175f35;
    }
    .send:active {
      top: 2px;
    }
    .left-tree-6 {
      visibility: hidden;
    }
    .left-tree-10 {
      visibility: hidden;
    }
    .side-tree {
      visibility: hidden;
    }
  }
  .left-leaves {
    grid-area: l_left;
    position: relative;

    .left-tree-3 {
      position: absolute;
      top: 0;
      left: 30%;
      height: 20px;
    }
    .left-tree-4 {
      position: absolute;
      top: 20%;
      right: 20%;
      height: 30px;
    }
    .left-tree-5 {
      position: absolute;
      bottom: 35%;
      left: 30%;
      height: 15px;
    }
    .left-tree-6 {
      position: absolute;
      bottom: 20%;
      right: -10%;
      height: 15px;
    }
  }
  .right-leaves {
    grid-area: l_right;
    position: relative;

    .left-tree-7 {
      position: absolute;
      top: 0;
      right: 30%;
      height: 20px;
    }
    .left-tree-8 {
      position: absolute;
      top: 20%;
      left: 20%;
      height: 30px;
    }
    .left-tree-9 {
      position: absolute;
      bottom: 35%;
      right: 30%;
      height: 15px;
    }
    .left-tree-10 {
      position: absolute;
      bottom: 20%;
      left: -10%;
      height: 15px;
    }
  }
  .ui-form {
    font-size: 1rem;
    grid-gap: 4vh;
    display: inline-grid;
    width: 55%;

    .icon {
      padding-top: 10px;
    }
  }

  .ui.input > input {
    background: transparent;
    border: solid;
    border-width: 0 0 1px 0;
    border-radius: 0;
    border-color: #042b10;
    padding: 0 0 10px 0;
  }
  .ui.input {
    color: #034416;
    font-size: large;
  }

  .back-ground-bottom {
    border-radius: 0 0 3rem 3rem;
    position: absolute;
    width: 99vw;
    height: 10vh;
    background-color: white;
    text-align: 0;
    align-self: self-end;
    margin-top: 90vh;
    z-index: -10;
    -webkit-box-shadow: 0px 19px 53px 21px rgba(0, 0, 0, 0.48);
    -moz-box-shadow: 0px 19px 53px 21px rgba(0, 0, 0, 0.48);
    box-shadow: 0px 19px 53px 21px rgba(0, 0, 0, 0.48);
  }
  .back-ground-upper {
    position: absolute;
    width: 99vw;
    height: 90vh;
    background-color: white;
    z-index: -10;
  }
  .side-tree {
    border-radius: 0 0 3rem 0;
    position: absolute;
    width: 25vw;
    height: 60vh;
    right: -0.3vw;
    margin-top: 40vh;
    margin-right: 0;
  }
}

@media only screen and (max-width: 600px) {
  .wrapper {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 30vh 50vh 15vh;
    grid-template-areas:
      "topic"
      "form"
      "send";
    border-radius: 0 0 3rem 3rem;
    border-bottom: solid transparent;
  }

  .topic {
    grid-area: topic;
    text-align: center;
    align-self: center;
    color: #042b10;
    position: relative;
    margin-top: 3rem;

    .left-tree-1 {
      position: absolute;
      top: 0;
      left: 5vw;
      height: 30px;
    }
    .left-tree-2 {
      position: absolute;
      top: 0;
      right: 5vw;
      height: 30px;
    }
    .main-topic {
      // margin-left: 5vw;
      line-height: 3rem;
      font-weight: bolder;
      font-size: xx-large;
    }
    .sub-topic {
      line-height: 1.5rem;
      font-weight: lighter;
      font-size: medium;
    }
  }
  .input-form {
    text-align: center;
    grid-area: form;
    position: relative;
    z-index: 3;
  }
  .send-btn-container {
    text-align: center;
    grid-area: send;
    position: relative;

    .send {
      color: white;
      background: rgb(4, 42, 27);
    }

    .left-tree-6 {
      position: absolute;
      top: 30%;
      left: 20%;
      height: 15px;
    }
    .left-tree-10 {
      position: absolute;
      top: 30%;
      right: 20%;
      height: 15px;
    }
    .side-tree {
      border-radius: 0 0 3rem 0;
      position: absolute;
      width: 30px;
      right: 0;
      bottom: 0;
      z-index: 10;
      visibility: hidden;
    }
  }
  .left-leaves {
    grid-area: form;
    position: relative;
    z-index: -1;

    .left-tree-3 {
      position: absolute;
      top: 0;
      left: 0;
      height: 20px;
    }
    .left-tree-4 {
      position: absolute;
      top: 50%;
      left: 5%;
      height: 30px;
    }
    .left-tree-5 {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 15px;
    }
    .left-tree-6 {
      visibility: hidden;
    }
  }
  .right-leaves {
    grid-area: form;
    position: relative;

    .left-tree-7 {
      position: absolute;
      top: 0;
      right: 0;
      height: 20px;
    }
    .left-tree-8 {
      position: absolute;
      top: 50%;
      right: 5%;
      height: 30px;
    }
    .left-tree-9 {
      position: absolute;
      bottom: 0;
      right: 0;
      height: 15px;
    }
    .left-tree-10 {
      visibility: hidden;
    }
  }
  .ui-form {
    font-size: 1rem;
    grid-gap: 4vh;
    display: inline-grid;

    .icon {
      padding-top: 10px;
    }
  }

  .ui.input > input {
    background: transparent;
    border: solid;
    border-width: 0 0 1px 0;
    border-radius: 0;
    border-color: #042b10;
    padding: 5px;
  }
  .ui.input {
    color: #034416;
    font-size: large;
  }

  .back-ground-bottom {
    visibility: hidden;
    display: none;
  }
  .back-ground-upper {
    display: none;
    visibility: hidden;
  }
  .side-tree {
    position: absolute;
    visibility: hidden;
  }
}

// ------------------------------------------------------------------------------------------------------------------------------
