<div class="wrapper">
  <div class="topic">
    <img class="left-tree-1" [src]="urlTreeIcon" alt="" srcset="" />
    <img class="left-tree-2" [src]="urlTreeIcon" alt="" srcset="" />
    <div class="main-topic">Get in touch</div>
    <div class="sub-topic">
      Great People around the world claim their trees aready !
    </div>
  </div>
  <div class="input-form">
    <div class="ui ui-form ">
      <div class="ui left icon input">
        <input [(ngModel)]="messageBody.name" type="text" placeholder="Name" />
        <i class="icon">
          <img src="../../../assets/user.svg" alt="" srcset="" />
        </i>
      </div>
      <div class="ui left icon input">
        <input
          [(ngModel)]="messageBody.email"
          type="text"
          placeholder="Email"
        />
        <i class="icon">
          <img src="../../../assets/mail.svg" alt="" srcset="" />
        </i>
      </div>
      <div class="ui left icon input">
        <input
          [(ngModel)]="messageBody.phone_no"
          type="text"
          placeholder="Phone Number"
        />
        <i class="icon">
          <img src="../../../assets/call.svg" alt="" srcset="" />
        </i>
      </div>
      <div class="ui left icon input">
        <input
          [(ngModel)]="messageBody.message"
          type="text"
          placeholder="Message"
        />
        <i class="icon">
          <img src="../../../assets/comment.svg" alt="" srcset="" />
        </i>
      </div>
    </div>
  </div>
  <div class="send-btn-container">
    <button class="ui send button" (click)="sendMessage()">
      Send
    </button>
    <img
      src="../../../assets/sidetree.png"
      class="side-tree"
      alt=""
      srcset=""
    />
    <img class="left-tree-10" [src]="urlTreeIcon" alt="" srcset="" />
    <img class="left-tree-6" [src]="urlTreeIcon" alt="" srcset="" />
  </div>
  <div class="left-leaves">
    <img class="left-tree-3" [src]="urlTreeIcon" alt="" srcset="" />
    <img class="left-tree-4" [src]="urlTreeIcon" alt="" srcset="" />
    <img class="left-tree-6" [src]="urlTreeIcon" alt="" srcset="" />
    <img class="left-tree-5" [src]="urlTreeIcon" alt="" srcset="" />
  </div>
  <div class="right-leaves">
    <img class="left-tree-7" [src]="urlTreeIcon" alt="" srcset="" />
    <img class="left-tree-8" [src]="urlTreeIcon" alt="" srcset="" />
    <img class="left-tree-9" [src]="urlTreeIcon" alt="" srcset="" />
    <img class="left-tree-10" [src]="urlTreeIcon" alt="" srcset="" />
  </div>
  <div class="back-ground-bottom"></div>
  <div class="back-ground-upper"></div>
  <img src="../../../assets/sidetree.png" class="side-tree" alt="" srcset="" />
</div>
