@media only screen and (min-width: 600px) {
  .wrapper {
    height: 100%;
    display: grid;
    z-index: 3;
    width: 100vw;
    grid-template-columns: 10vw 40vw 40vw 10vw;
    grid-template-rows: 20vh 50vh 15vh 10vh 10vh;
    grid-template-areas:
      ". . . ."
      ". b b d"
      ". . . ."
      ". c c ."
      ". . . .";
  }

  .welcome-text-container {
    grid-area: b;
    text-align: center;
    color: white;
    font-size: 32pt;
    font-weight: lighter;
    padding-top: 8vh;

    span {
      font-size: 44pt;
      font-weight: bold;
    }
    .tag-line {
      font-weight: small;
      font-size: 16pt;
      margin-bottom: 8vh;
      span {
        font-size: 18pt;
        font-weight: 900;
      }
    }
  }
  .social-media-container {
    grid-area: d;
    text-align: center;
    align-self: center;
  }

  .next-btn-container {
    text-align: center;
    grid-area: c;
    .ui.button {
      height: 80px;
      padding: 0;
      margin: 0;
      margin-top: 10px;
      img {
        height: 80px;
        margin-top: 20px;
      }
    }
    .ui.button:hover {
      background: transparent;
      -webkit-animation: shake-vertical 5s
        cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
      animation: shake-vertical 5s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
    }
    .ui.button:active {
      background-color: transparent;
      -webkit-animation: slide-bck-center 0.45s
        cubic-bezier(0.47, 0, 0.745, 0.715) both;
      animation: slide-bck-center 0.45s cubic-bezier(0.47, 0, 0.745, 0.715) both;
    }
    .ui.button:visited,
    :focus {
      background-color: transparent;
    }
  }
  .img-bg {
    width: 99vw;
    height: 96vh;
    border-radius: 0 0 4rem 4rem;
    object-fit: cover;
    opacity: 0.95;
    z-index: -10;

    -webkit-box-shadow: 1px 10px 3px -9px rgba(46, 45, 46, 0.65);
    -moz-box-shadow: 1px 10px 3px -9px rgba(46, 45, 46, 0.65);
    box-shadow: 1px 10px 3px -9px rgba(46, 45, 46, 0.65);
  }

  .left-cloud {
    position: absolute;
    width: 40vw;
    bottom: -15vw;
    left: -9vw;
  }
  .right-cloud {
    position: absolute;
    width: 30vw;
    bottom: -10vw;
    right: -5vw;
  }

  .img-sm {
    border: none;
  }
  .arrow-down {
    height: 60px;
    padding: 0;
    background: transparent;
  }
  .ui.avatar.image {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 0 !important;
  }
  .ui.avatar.image:hover {
    -webkit-animation: heartbeat 3s ease-in-out infinite both;
    animation: heartbeat 3s ease-in-out infinite both;
  }

  .ui.list > .item {
    cursor: pointer;
    padding: 1.2rem;
  }
}

@media only screen and (max-width: 600px) {
  .wrapper {
    display: grid;
    z-index: 0;
    grid-template-columns: 100vw;
    grid-template-rows: 50vh;
    grid-template-areas: "a";
    position: relative;
  }

  .welcome-text-container {
    grid-area: a;
    color: white;
    text-align: center;
    align-self: center;
    top: 20vh;
    .topic-sm {
      font-size: large;
      span {
        font-size: x-large;
        font-weight: bolder;
      }
    }
    .tag-line {
      span {
        font-size: normal;
        font-weight: bolder;
      }
      margin-bottom: 3vh;
    }
  }
  .img-bg {
    position: absolute;
    width: 100vw;
    height: 50vh;
    z-index: -20;
    border-radius: 0 0 2rem 2rem;
    opacity: 0.9;
    object-fit: cover;
    -webkit-box-shadow: 1px 10px 3px -9px rgba(46, 45, 46, 0.65);
    -moz-box-shadow: 1px 10px 3px -9px rgba(46, 45, 46, 0.65);
    box-shadow: 1px 10px 3px -9px rgba(46, 45, 46, 0.65);
  }

  .left-cloud {
    position: absolute;
    width: 40vw;
    bottom: 15vw;
    left: -5vw;
  }
  .right-cloud {
    position: absolute;
    width: 30vw;
    bottom: 15vw;
    right: -5vw;
  }
  .social-media-container {
    visibility: hidden;
  }
  .next-btn-container {
    text-align: center;
    grid-area: a;
    position: relative;
    z-index: -1;
    .img-sm {
      height: 60px;
      width: 60px;
    }
    .ui.button {
      position: absolute;
      bottom: -30px;
      left: calc(50vw - 30px);
      background: transparent;
      padding: 0;
    }
    .ui.button:hover {
      background: transparent;
      -webkit-animation: shake-vertical 5s
        cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
      animation: shake-vertical 5s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
    }
    .ui.button:active {
      background-color: transparent;
      -webkit-animation: slide-bck-center 0.45s
        cubic-bezier(0.47, 0, 0.745, 0.715) both;
      animation: slide-bck-center 0.45s cubic-bezier(0.47, 0, 0.745, 0.715) both;
    }
    .ui.button:visited,
    :focus {
      background-color: transparent;
    }
  }
}

@-webkit-keyframes slide-bck-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  100% {
    -webkit-transform: translateZ(-400px);
    transform: translateZ(-400px);
  }
}
@keyframes slide-bck-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  100% {
    -webkit-transform: translateZ(-400px);
    transform: translateZ(-400px);
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2020-1-27 16:23:18
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shake-vertical
 * ----------------------------------------
 */
@-webkit-keyframes shake-vertical {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  80% {
    -webkit-transform: translateY(6.4px);
    transform: translateY(6.4px);
  }
  90% {
    -webkit-transform: translateY(-6.4px);
    transform: translateY(-6.4px);
  }
}
@keyframes shake-vertical {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  80% {
    -webkit-transform: translateY(6.4px);
    transform: translateY(6.4px);
  }
  90% {
    -webkit-transform: translateY(-6.4px);
    transform: translateY(-6.4px);
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2020-1-27 17:37:1
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-pop-up-top
 * ----------------------------------------
 */
@-webkit-keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc,
      0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc,
      0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}
@keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc,
      0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc,
      0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2020-1-27 17:58:38
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

.kenburns-left {
  -webkit-animation: kenburns-left 10s ease-out infinite alternate-reverse both;
  animation: kenburns-left 10s ease-out infinite alternate-reverse both;
}

.kenburns-top-left {
  -webkit-animation: kenburns-top-left 10s ease-out infinite alternate-reverse
    both;
  animation: kenburns-top-left 10s ease-out infinite alternate-reverse both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-2-10 19:45:35
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation kenburns-left
 * ----------------------------------------
 */
@-webkit-keyframes kenburns-left {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
    transform: scale(1) translate(0, 0);
    -webkit-transform-origin: 16% 50%;
    transform-origin: 16% 50%;
  }
  100% {
    -webkit-transform: scale(1.25) translate(-20px, 15px);
    transform: scale(1.25) translate(-20px, 15px);
    -webkit-transform-origin: left;
    transform-origin: left;
  }
}
@keyframes kenburns-left {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
    transform: scale(1) translate(0, 0);
    -webkit-transform-origin: 16% 50%;
    transform-origin: 16% 50%;
  }
  100% {
    -webkit-transform: scale(1.25) translate(-20px, 15px);
    transform: scale(1.25) translate(-20px, 15px);
    -webkit-transform-origin: left;
    transform-origin: left;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2020-2-10 19:48:25
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation kenburns-top-left
 * ----------------------------------------
 */
@-webkit-keyframes kenburns-top-left {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
    transform: scale(1) translate(0, 0);
    -webkit-transform-origin: 16% 16%;
    transform-origin: 16% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translate(-20px, -15px);
    transform: scale(1.25) translate(-20px, -15px);
    -webkit-transform-origin: top left;
    transform-origin: top left;
  }
}
@keyframes kenburns-top-left {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
    transform: scale(1) translate(0, 0);
    -webkit-transform-origin: 16% 16%;
    transform-origin: 16% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translate(-20px, -15px);
    transform: scale(1.25) translate(-20px, -15px);
    -webkit-transform-origin: top left;
    transform-origin: top left;
  }
}
