<div class="wrapper">
  <img class="img-bg" [src]="this.store.welcomeScreenImage" alt="" srcset="" />
  <img
    src="../../../assets/cloud.png"
    class="left-cloud kenburns-left"
    alt=""
    srcset=""
  />
  <img
    src="../../../assets/cloud.png"
    class="right-cloud kenburns-top-left"
    alt=""
    srcset=""
  />
  <div class="welcome-text-container">
    <div class="topic-sm">Claim Your <span>Trees</span> Now!</div>
    <div class="tag-line">Make planet <span>Green</span> again.</div>
    <div>
      <app-claim-tree></app-claim-tree>
    </div>
  </div>
  <div class="social-media-container">
    <div class="ui list">
      <div class="item">
        <img class="ui avatar image " src="../../../assets/twitter_white.svg" />
      </div>
      <div class="item ">
        <img
          class="ui avatar image  "
          src="../../../assets/instagram_white.svg"
        />
      </div>
      <div class="item ">
        <img
          class="ui avatar image "
          src="../../../assets/facebook_white.svg"
        />
      </div>
    </div>
  </div>
  <div class="next-btn-container">
    <div class="ui icon buttons">
      <button
        class="ui button arrow-down "
        (click)="this.scNav.scroll('about')"
      >
        <img
          src="../../../assets/arrow down.svg"
          class="align justify img-sm"
        />
      </button>
    </div>
  </div>
</div>
