<div class="wrapper">
  <div class="main-topic-container">
    <div class="main-topic">
      <h3>Join with Arana</h3>
      <h6>Great People around the world claim their trees already !</h6>
    </div>
    <div class="inverted-br-radius"></div>
    <img [src]="this.store.footerBG" class="img-bg" alt="" srcset="" />
    <app-claim-tree class="tree-claim-email" [color]="true"></app-claim-tree>
  </div>
  <div class="btn-up-container">
    <div class="ui icon buttons">
      <button class="ui button arrow-up" (click)="this.scNav.scroll('welcome')">
        <img src="../../assets/arrowup.svg" class="align justify" />
      </button>
    </div>
  </div>
  <div class="leaves-container">
    <img class="leaves-img" src="../../assets/laves04.png" alt="" srcset="" />
  </div>
  <div class="footer-container">
    <img class="logo" src="../../assets/logo.svg" alt="" srcset="" />
    <h6 class="tag-line">Make planet green again</h6>
  </div>
  <div class="copyright-container">
    <h6 class="copyright">
      Copyright © {{ copyright | date: "yyyy" }}
      <a href="http://echonlabs.com" target="_blank">EchonLabs (Pvt) Ltd </a>.
      All Rights Reserved.
    </h6>
  </div>
</div>
