@media only screen and (min-width: 600px) {
  .wrapper {
    height: 100vh;
    display: grid;
    grid-template-columns: 20vw 60vw 19vw;
    grid-template-rows: 50vh 20vh 45vh 5vh;
    grid-template-areas:
      "topic topic topic "
      ". up_btn ."
      "leaves footer . "
      "copyright copyright copyright ";
  }
  .main-topic-container {
    color: lavender;
    position: relative;
    text-align: center;
    align-self: center;
    grid-area: topic;
    border-radius: 0 0 3rem 3rem;
    h6 {
      padding-bottom: 8vh;
      font-weight: normal;
      font-family: Montserrat;
      font-size: large;
      letter-spacing: 1px;
    }
    h3 {
      font-size: xx-large;
      font-weight: bold;
      font-family: Montserrat;
      padding-bottom: 10px;
    }

    .tree-claim-email {
      position: absolute;
      width: 60vw;
      left: 20vw;
    }
    .img-bg {
      left: 0;
      top: -20vh;
      position: absolute;
      width: 99vw;
      height: 65vh;
      z-index: -20;
      border-radius: 0 0 3rem 3rem;

      -webkit-box-shadow: 1px 10px 3px -9px rgba(46, 45, 46, 0.65);
      -moz-box-shadow: 1px 10px 3px -9px rgba(46, 45, 46, 0.65);
      box-shadow: 1px 10px 3px -9px rgba(46, 45, 46, 0.65);
    }
  }
  .btn-up-container {
    grid-area: up_btn;
    text-align: center;
    position: relative;
    .ui.button {
      color: white;
      margin-bottom: -15px;
      img {
        height: 80px;
      }
    }
    .ui.button:hover {
      background: transparent;
      -webkit-animation: shake-vertical 5s
        cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
      animation: shake-vertical 5s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
    }
    .ui.button:active {
      background-color: transparent;
    }
    .ui.button:visited,
    :focus {
      background-color: transparent;
    }
  }
  .leaves-container {
    grid-area: leaves;
    position: relative;

    .leaves-img {
      position: absolute;
      height: 40vh;
      bottom: -5vh;
      left: 0;
    }
  }
  .footer-container {
    grid-area: footer;
    text-align: center;
    align-self: center;

    .logo {
      height: 10vh;
    }
    .tag-line {
      letter-spacing: 4px;
      padding: 1rem;
    }
  }
  .copyright-container {
    grid-area: copyright;
    text-align: center;
    z-index: -10;
    background-color: #f8f8f8;
    opacity: 0.8;

    h6 {
      font-size: x-small;
      opacity: 1 !important;
      color: black !important;
    }

    .copyright {
      padding-top: 2vh;
    }
    a {
      color: black;
    }
    a:hover,
    :active {
      color: rgb(11, 11, 131);
      text-decoration: none;
    }
  }

  .arrow-up {
    position: absolute;
    bottom: 30px;
    left: 45%;
    // transform: rotate(180deg);
    background: transparent;
  }
}
@media only screen and (max-width: 600px) {
  .wrapper {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 50vh 50vh;
    grid-template-areas:
      "topic"
      "footer";
    margin-top: -10vh;
  }
  .main-topic-container {
    color: lavender;
    position: relative;
    grid-area: topic;
    border-radius: 0 0 3rem 3rem;
    text-align: center;
    .main-topic {
      top: 30%;
      position: absolute;
      text-align: center;

      h6 {
        font-family: Montserrat !important;
      }
      h3 {
        font-weight: bold;
        font-family: Montserrat !important;
      }
    }

    .tree-claim-email {
      position: absolute;
      top: 60%;
      text-align: center;
      left: 0;
      width: 100%;
      z-index: 12;
    }
    .inverted-br-radius {
      left: 0;
      top: -8px;
      position: absolute;
      width: 100vw;
      height: 10vh;
      background-color: white;
      border: none;
      outline: none;
      border-radius: 0 0 3rem 3rem;
      z-index: -3;
    }
    .img-bg {
      left: 0;
      top: 0;
      position: absolute;
      width: 100vw;
      height: 50vh;
      z-index: -20;
      border-radius: 0 0 3rem 3rem;

      -webkit-box-shadow: 1px 10px 3px -9px rgba(46, 45, 46, 0.65);
      -moz-box-shadow: 1px 10px 3px -9px rgba(46, 45, 46, 0.65);
      box-shadow: 1px 10px 3px -9px rgba(46, 45, 46, 0.65);
    }
  }
  .btn-up-container {
    grid-area: topic;
    text-align: center;
    position: relative;
    z-index: 10;

    .ui.button {
      margin: 0;
      padding: 0;
      border: none;
    }
    .ui.button:hover {
      background: transparent;
      -webkit-animation: shake-vertical 5s
        cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
      animation: shake-vertical 5s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
    }
    .ui.button:active {
      background-color: transparent;
    }
    .ui.button:visited,
    :focus {
      background-color: transparent;
    }
  }
  .leaves-container {
    grid-area: footer;
    position: relative;
    z-index: 3;
    .leaves-img {
      position: absolute;
      height: 100px;
      width: 100px;
      bottom: 0;
      left: -35px;
    }
  }
  .footer-container {
    grid-area: footer;
    text-align: center;
    align-self: center;

    .logo {
      height: 10vh;
    }
    .tag-line {
      letter-spacing: 4px;
      padding: 1rem;
    }
  }
  .copyright-container {
    grid-area: footer;
    position: relative;
    .copyright {
      position: absolute;
      text-align: center;
      height: 20px;
      width: 100%;
      background-color: #c9caca;
      bottom: 0;
      left: 6vw;
      margin: 0;
      font-size: 8px;
      // padding-top: 5px;
      // padding-bottom: 5px;
      padding: 5px;
    }
    a {
      color: black;
    }
    a:hover,
    :active {
      color: rgb(11, 11, 131);
      text-decoration: none;
    }
  }

  .arrow-up {
    position: absolute;
    bottom: -30px;
    left: calc(50% - 30px);
    background: transparent;
    margin: 0;
    padding: 0;
    border: none;
    .align {
      width: 60px;
      height: 60px;
    }
  }
}
