@media only screen and (min-width: 600px) {
  .email-input {
    width: 40%;
    font-size: 12pt;
    background-color: transparent;

    .mail-icon {
      margin-top: 15px;
      background: white;
    }
  }
  .claim-tree-btn-1 {
    color: white !important;
    font-size: 12pt;
    margin-left: 15px;
    padding-left: 2vw;
    padding-right: 2vw;
    border-radius: 0.75rem !important;
    background-color: #042a1b;
    background: #042a1b none !important;
    z-index: 10;
  }
  .claim-tree-btn-1:hover {
    background-color: #2d5745;
  }

  .claim-tree-btn-2 {
    color: white;
    font-size: 12pt;
    margin-left: 15px;
    padding-left: 2vw;
    padding-right: 2vw;
    border-radius: 0.75rem !important;
    background-color: #2d5745;
    background: #2d5745 none !important;
    z-index: 10;
  }
  .claim-tree-btn-2:hover {
    color: white;
    background-color: #042b10;
  }

  .ui.input > input {
    border-radius: 0.75rem !important;
    background-color: transparent;
    border-color: rgb(235, 231, 231);
    background-color: transparent;
    color: white;
    .textarea {
      background-color: rgb(235, 231, 231);
    }
  }
}

@media only screen and (max-width: 600px) {
  .email-input {
    background-color: transparent;

    .mail-icon {
      margin-top: 10px;
      margin-left: 0;
      padding-left: 0;
      background: white;
      height: 10px;
    }
  }
  .ui.input > input {
    border-radius: 0.75rem !important;
    background-color: transparent;
    border-color: rgb(235, 231, 231);
    background-color: transparent;
    font-size: x-small;
    color: white;
    .textarea {
      background-color: rgb(235, 231, 231);
    }
  }
  .ui.input > input:active,
  ::after,
  :visited,
  :focus {
    background-color: transparent;
    .textarea {
      background-color: transparent;
    }
  }
  .claim-tree-btn-1 {
    color: white !important;
    border-radius: 0.75rem !important;
    background-color: #042a1b;
    background: #042a1b none !important;
    font-size: x-small;
    margin-left: 10px;
    padding-top: 9px;
    padding-bottom: 9px;
    z-index: 3;
  }

  .claim-tree-btn-1:hover {
    background-color: #2d5745;
  }

  .claim-tree-btn-2 {
    color: white;
    margin-left: 10px;
    border-radius: 0.75rem !important;
    background-color: #2d5745;
    background: #2d5745 none !important;
    font-size: x-small;
    padding-top: 9px;
    padding-bottom: 9px;
    z-index: 3;
  }
  .claim-tree-btn-2:hover {
    color: white;
    background-color: #042b10;
  }
}
button {
  color: transparent;
  background: transparent;
  opacity: 0.9;
}
button:active,
:hover {
  opacity: 1;
  transition: 0.3s;
}

.envelope {
  color: whitesmoke;
}
.input-bg-faded {
  width: 100%;
  height: 100%;
  z-index: -8;
  background-color: whitesmoke;
  position: absolute;
  opacity: 0.1;
  border-radius: 0.75rem !important;
}
