<div class="ui left icon input email-input" [formGroup]="claimTree">
  <div class="input-bg-faded"></div>
  <input
    [attr.id]="email"
    type="text"
    placeholder="username@email.com"
    name="email"
    formControlName="email"
    [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
  />
  <i class="icon">
    <img class="mail-icon" src="../../assets/mail.svg" alt="" srcset=""
  /></i>
</div>
<button class="ui button claim-tree-btn-1" *ngIf="!color" (click)="send()">
  Claim Tree
</button>
<button class="ui button claim-tree-btn-2 " *ngIf="color" (click)="send()">
  Claim Tree
</button>
