.active {
  padding-bottom: 3px;
  border-bottom: 2px solid white;
}

.header {
  position: fixed;
  display: flex;
  z-index: 10;
  justify-content: space-around;
  height: 10vh;
  width: 100vw;
  padding: 0 5vw 0 5vw;
}
.logo-container {
  flex: 1;
  align-self: center;
}
.nav-links {
  flex: 2;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-self: center;
  margin: 0;
  list-style: none;

  a {
    color: white;
    margin: 0 10px 0 10px;
    cursor: pointer;
    padding-bottom: 3px;
  }
}
.navbar-scrolled {
  transition: background-color 0.5s ease-in;
  background: rgba(0, 0, 0, 0.7);
}

@media only screen and (max-width: 580px) {
  .nav-links {
    display: none;
  }
  .logo-container {
    display: flex;
    flex: none;
  }
}
