<nav class="header" id="header">
  <div class="logo-container">
    <img
      (click)="this.scNav.scroll('welcome')"
      src="../../../assets/white_small_logo.svg"
      class="logo"
      alt=""
      srcset=""
    />
  </div>
  <ul class="nav-links">
    <li>
      <a
        [class.active]="posClass == 'home'"
        (click)="this.scNav.scroll('welcome')"
        >Home</a
      >
    </li>
    <li>
      <a [class.active]="posClass == 'map'" (click)="this.scNav.scroll('map')"
        >Map</a
      >
    </li>
    <li>
      <a
        [class.active]="posClass == 'about'"
        (click)="this.scNav.scroll('about')"
        >About us</a
      >
    </li>
    <li>
      <a
        [class.active]="posClass == 'contact'"
        (click)="this.scNav.scroll('contact')"
        >Contact us</a
      >
    </li>
  </ul>
</nav>
