@media only screen and (min-width: 600px) {
  .wrapper {
    height: 100%;
    display: grid;
    z-index: 3;
    grid-template-columns: 10vw 55vw 35vw;
    grid-template-rows: 30vh 45vh 25vh;
    grid-template-areas:
      ". topic corousal "
      "leaf essay corousal "
      ". b corousal ";
    // background-color: white;
  }
  .main-topic-container {
    font-family: Montserrat;
    grid-area: topic;
    align-self: center;
  }
  .corousal-container {
    align-self: center;
    grid-area: corousal;
    margin-top: 2vh;
  }
  .essay-container {
    grid-area: essay;
    color: rgb(10, 85, 10);
    line-height: 2rem;
    letter-spacing: 1px;
  }
  .leaf-container {
    grid-area: leaf;
    object-fit: cover;
  }
  .button-container {
    grid-area: b;
  }
  .main-topic {
    font-weight: bolder;
    color: #014215;
  }
  .sub-topic {
    font-weight: lighter;
    color: #013510;
  }

  .leaf {
    height: 250px;
  }
  .arrow-left {
    transform: scaleY(0.7) scaleX(0.7);
  }
  .arrow-right {
    transform: rotate(180deg) scaleY(0.7) scaleX(0.7);
  }
  .arrow-left:active {
    margin-left: -2px;
  }
  .arrow-left:hover {
    transform: scaleY(0.73) scaleX(0.73);
  }
  .arrow-right:active {
    margin-right: -2px;
  }
  .arrow-right:hover {
    transform: rotate(180deg) scaleY(0.73) scaleX(0.73);
  }

  .carousel-inner {
    width: 50vh;
    height: 70vh;
    margin-left: 4vh;
    border-radius: 2rem;
  }

  .carousel-control-next {
    right: -8vh;
    color: #fff;
    text-align: center;
    opacity: 1 !important;
    top: -30px;
    z-index: 20;
  }
  .carousel-control-prev {
    color: #fff;
    text-align: center;
    opacity: 1 !important;
    top: -30px;
    z-index: 20;
  }
  .carousel {
    width: 50vh;
    padding-top: 2vh;
  }
  .carousel-indicators {
    position: relative;
    margin-left: 30%;
    padding-left: 0px;
  }
  .carousel-indicators {
    li {
      margin-top: 1px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: rgb(77, 119, 77);
    }
    .active {
      margin-top: 0;
      width: 12px;
      height: 12px;
      background-color: rgb(2, 87, 2);
    }
  }
  .button-container-sm {
    visibility: hidden;
  }
  .button-container {
    .gradient {
      width: 40%;
      line-height: 2rem;
      color: white;
      background: rgb(4, 42, 27);
      background: linear-gradient(
        90deg,
        rgba(4, 42, 27, 1) 23%,
        rgba(23, 75, 39, 1) 84%
      );
    }
    .gradient:hover,
    :focus,
    :active {
      width: 40%;
      color: white;
      background: rgb(4, 42, 27);
      background: linear-gradient(87deg, #135226, #042b10);
      background-size: 400% 400%;

      -webkit-animation: btn_hover 2s ease infinite;
      -moz-animation: btn_hover 2s ease infinite;
      animation: btn_hover 2s ease infinite;
      animation-iteration-count: infinite;
    }
  }

  .back-ground-bottom {
    border-radius: 0 0 3rem 3rem;
    position: absolute;
    width: 99vw;
    height: 10vh;
    // background-color: black;
    text-align: 0;
    align-self: self-end;
    margin-top: 90vh;
    z-index: -20;
    -webkit-box-shadow: 0px 5px 20px -11px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 5px 20px -11px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 5px 20px -11px rgba(0, 0, 0, 0.75);
  }
  .back-ground-upper {
    position: absolute;
    width: 99vw;
    height: 90vh;

    background-color: white;
    z-index: -10;
  }
}

@media only screen and (max-width: 600px) {
  .wrapper {
    height: 100%;
    display: grid;
    z-index: 3;
    grid-template-columns: 100vw;
    grid-template-rows: 10vh 50vh 40vh;
    grid-template-areas:
      "topic"
      "corousal "
      "essay";
  }
  .main-topic-container {
    font-family: Montserrat;
    grid-area: topic;
    align-self: center;
    text-align: center;
    margin-bottom: 3rem;
    color: rgb(10, 49, 10);
  }
  .corousal-container {
    position: relative;
    text-align: center;
    grid-area: corousal;
  }
  .essay-container {
    grid-area: essay;
    color: rgb(10, 85, 10);
    background-color: white;

    .essay {
      padding: 20px;
      text-align: justify;
      align-self: center;
    }
    .button-container-sm {
      border-radius: 0 0 3rem 3rem;
      border-bottom: solid rgb(187, 187, 187);

      .container {
        margin-bottom: 20px;
        text-align: center;
      }

      .gradient {
        color: white;
        background: rgb(4, 42, 27);
        background: linear-gradient(
          90deg,
          rgba(4, 42, 27, 1) 23%,
          rgba(23, 75, 39, 1) 84%
        );
      }

      .gradient:hover,
      :focus,
      :active {
        color: white;
        border: none;

        -webkit-animation: btn_hover 2s ease infinite;
        -moz-animation: btn_hover 2s ease infinite;
        animation: btn_hover 2s ease infinite;
        animation-iteration-count: infinite;
      }
    }
  }
  .leaf-container {
    visibility: hidden;
  }
  .button-container {
    visibility: hidden;
  }

  .arrow-left {
    transform: scaleY(0.5) scaleX(0.5);
  }
  .arrow-right {
    transform: rotate(180deg) scaleY(0.5) scaleX(0.5);
  }
  .arrow-left:active {
    margin-left: -2px;
  }
  .arrow-left:hover {
    transform: scaleY(0.51) scaleX(0.51);
  }
  .arrow-right:active {
    margin-right: -2px;
  }
  .arrow-right:hover {
    transform: rotate(180deg) scaleY(0.51) scaleX(0.51);
  }
  .carousel-inner {
    width: 50vw;
    height: 40vh;
    border-radius: 2rem;
    margin-left: 5vw;
  }

  .carousel-control-next {
    color: #fff;
    text-align: center;
    opacity: 1 !important;
    z-index: 20;
    position: absolute;
    right: -30px;
    margin-top: -40px;
  }
  .carousel-control-prev {
    color: #fff;
    text-align: center;
    opacity: 1 !important;
    z-index: 20;
    margin-top: -40px;
    left: 5px;
  }
  .carousel {
    text-align: center;
    width: 50vw;
    position: absolute;
    left: 20vw;
  }
  .carousel-indicators {
    position: relative;
    margin-left: 30%;
    padding-left: 0px;
  }
  .carousel-indicators {
    li {
      margin-top: 1px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: rgb(77, 119, 77);
    }
    .active {
      margin-top: 0;
      width: 12px;
      height: 12px;
      background-color: rgb(2, 87, 2);
    }
  }
  .button-container {
    visibility: hidden;
  }
  .back-ground-bottom {
    visibility: hidden;
  }
  .back-ground-upper {
    visibility: hidden;
  }
}

@-webkit-keyframes btn_hover {
  0% {
    background-position: 0% 51%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 51%;
  }
}
@-moz-keyframes btn_hover {
  0% {
    background-position: 0% 51%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 51%;
  }
}
@keyframes btn_hover {
  0% {
    background-position: 0% 51%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 51%;
  }
}
