<div class="wrapper">
  <div class="main-topic-container">
    <h3 class="main-topic">About Project - Arana</h3>

    <div class="sub-topic">2020 Green Project</div>
  </div>
  <div class="corousal-container">
    <div
      id="carouselExampleControls"
      class="carousel slide"
      data-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img [src]="images[0]" class="d-block w-100 " alt="..." />
        </div>
        <div class="carousel-item">
          <img [src]="images[1]" class="d-block w-100 " alt="..." />
        </div>
        <div class="carousel-item">
          <img [src]="images[2]" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item">
          <img [src]="images[3]" class="d-block w-100" alt="..." />
        </div>
      </div>
      <a
        class="carousel-control-prev"
        href="#carouselExampleControls"
        role="button"
        data-slide="prev"
      >
        <img
          class="arrow-left icon"
          src="../../../assets/arrow_left.svg"
          alt=""
          srcset=""
        />
        <span class="sr-only">Previous</span>
      </a>
      <a
        class="carousel-control-next"
        href="#carouselExampleControls"
        role="button"
        data-slide="next"
      >
        <img
          class="arrow-right icon"
          src="../../../assets/arrow_left.svg"
          alt=""
          srcset=""
        />
        <span class="sr-only">Next</span>
      </a>
      <ol class="carousel-indicators">
        <li
          data-target="#carouselExampleControls"
          data-slide-to="0"
          class="active"
        ></li>
        <li data-target="#carouselExampleControls" data-slide-to="1"></li>
        <li data-target="#carouselExampleControls" data-slide-to="2"></li>
        <li data-target="#carouselExampleControls" data-slide-to="3"></li>
      </ol>
    </div>
  </div>
  <div class="essay-container">
    <div class="essay">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit
      mollitia doloribus molestiae! A aperiam ipsam laborum ab molestiae magnam
      quisquam blanditiis alias, culpa ipsa quae, laboriosam non, voluptates
      nam! Tempore. Lorem ipsum dolor sit, amet consectetur adipisicing elit.
      Reprehenderit mollitia doloribus molestiae! A aperiam ipsam laborum ab
      molestiae magnam quisquam blanditiis alias, culpa ipsa quae, laboriosam
      non, voluptates nam! Tempore.
    </div>
    <div class="button-container-sm">
      <div class="container">
        <button
          class="ui gradient button"
          (click)="this.scNav.scroll('footer-end')"
        >
          Claim your tree now !
        </button>
      </div>
    </div>
  </div>
  <div class="leaf-container">
    <img class="leaf" src="../../../assets/laves06_half.png" alt="" srcset="" />
  </div>
  <div class="button-container">
    <button
      class="ui gradient button"
      (click)="this.scNav.scroll('footer-end')"
    >
      Claim your tree now !
    </button>
  </div>
  <div class="back-ground-bottom"></div>
  <div class="back-ground-upper"></div>
</div>
