@media only screen and (min-width: 600px) {
  #chartdiv {
    width: 100%;
    height: 100%;
  }
  .wrapper {
    height: 100%;
    display: grid;
    z-index: -3;
    grid-template-columns: 10vw 80vw 10vw;
    grid-template-rows: 20vh 70vh 5vh 5vh;
    grid-template-areas:
      ". topic . "
      ". map . "
      "leaf f_text s_right "
      "s_end s_end s_end ";
    background-color: white;
    margin-top: 10vh;
  }
  .map-container {
    grid-area: map;
    position: relative;
    .remove-amcharts-logo {
      position: absolute;
      width: 50px;
      height: 50px;
      background-color: white;
      z-index: 10;
      bottom: 0;
    }
  }
  .topic-container {
    grid-area: topic;
    text-align: center;
    align-self: flex-start;

    .main-topic {
      line-height: 3rem;
      font-weight: bolder;
      font-size: xx-large;
      color: #03521a !important;
    }
    .sub-topic {
      line-height: 2rem;
      font-weight: lighter;
      font-size: large;
      color: #03521a !important;
    }
  }
  .legend-text {
    grid-area: f_text;
    color: #03521a;
    font-weight: bold;
    position: relative;
    align-self: flex-end;
    ul {
      margin: 0;
      position: absolute;
      right: 0;
      list-style: disc;
      .list-bullet {
        font-size: 20px;
        margin: 0;
      }
      .list-font {
        font-size: 14px;
      }
    }
  }
  .leaf-container {
    position: relative;
    grid-area: leaf;
    .left-leave-img {
      position: absolute;
      width: 30vh;
      bottom: -24vh;
      height: 30vh;
    }
  }
  .shadow-area-container {
    grid-area: s_end;

    .shadow-area {
      width: 99vw;
      height: 10vh;
      z-index: -20 !important;
      border-radius: 0 0 3rem 3rem;
      -webkit-box-shadow: -2px 20px 20px -23px #5e5d6c;
      -moz-box-shadow: -2px 20px 20px -23px #5e5d6c;
      box-shadow: -2px 20px 20px -23px #5e5d6c;
    }
  }
}
@media only screen and (max-width: 600px) {
  #chartdiv {
    width: 100%;
    height: 100%;
  }
  .wrapper {
    display: grid;
    z-index: 0;
    grid-template-columns: 100vw;
    grid-template-rows: 20vh 40vh 15vh;
    grid-template-areas:
      "topic"
      "map"
      "f_text";
    background-color: white;
    margin-top: 20vh;
  }
  .map-container {
    grid-area: map;
    position: relative;
    margin: 5px;
    .remove-amcharts-logo {
      position: absolute;
      width: 50px;
      height: 50px;
      background-color: white;
      z-index: 10;
      bottom: 0;
    }
  }
  .topic-container {
    grid-area: topic;
    text-align: center;
    align-self: center;

    .main-topic {
      line-height: 3rem;
      font-weight: bolder;
      font-size: x-large;
      color: #042b10;
    }
    .sub-topic {
      font-weight: lighter;
      font-size: medium;
      color: #042b10;
    }
  }
  .legend-text {
    grid-area: f_text;
    color: #03521a;
    font-weight: bold;
    position: relative;

    border-radius: 0 0 3rem 3rem;
    border-bottom: solid rgb(187, 187, 187);
    ul {
      list-style: disc;
      .list-bullet {
        font-size: 20px;
        margin: 0;
      }
      .list-font {
        font-size: 14px;
      }
    }
  }
  .leaf-container {
    visibility: hidden;
    .left-leave-img {
      display: none;
      visibility: hidden;
      position: absolute;
      width: 30px;
    }
  }
  .shadow-area-container {
    display: none;

    .shadow-area {
      visibility: hidden;
    }
  }
}
