<div class="wrapper">
  <div class="topic-container">
    <div class="main-topic">Arana - World Map</div>
    <div class="sub-topic">
      Great People around the world claim their trees already !
    </div>
  </div>
  <div class="map-container">
    <div id="chartdiv"></div>
    <div class="remove-amcharts-logo"></div>
  </div>
  <div class="legend-text">
    <ul>
      <li class="list-bullet">
        <span class="list-font">Countries which claimed trees</span>
      </li>
    </ul>
  </div>
  <div class="leaf-container">
    <img
      class="left-leave-img"
      src="../../../assets/laves02.png"
      alt=""
      srcset=""
    />
  </div>
  <div class="shadow-area-container">
    <div class="shadow-area"></div>
  </div>
</div>
