/* You can add global styles to this file, and also import other style files */
$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";
body {
  margin: 0;
  overflow-x: hidden;

  font-family: Montserrat !important;
}
