<app-nav-bar></app-nav-bar>
<app-welcome class="welcome"></app-welcome>
<app-about-us class="about"></app-about-us>
<app-map class="map"></app-map>
<app-contact-us class="contact"></app-contact-us>
<app-footer class="footer-end"></app-footer>
